  <div class="row">
    <div class="col-md-12"></div>
  </div>


  <!-- counter arrows increment  -->
  <div class="jumbotron">


    <!-- posts body -->
    <div class="container-fluid" id="post-body-container">


      <!-- post image -->
      <div class="row">


        <div class="col-md-4">
          <img class="post-image" src='/images/nap.jpg'>
        </div>


        <div class="col-md-8">
          <!-- right side -->
          <div class="row">
            <div class="col-md-12" class="post-title">Title? | bootstap sucks balls</div>
          </div>


          <div class="row">
            <div class="col-md-12" class="post-body">I’ve been using this same method for almost 2 years now. I like to clone the repository from GitHub, and then copy the files from the repository on my local computer to my project folder. This gives me a clean, decoupled set of the Less files that are now orphaned from the repository. I prefer this so I can keep the Bootstrap repository updated on my machine, without having to check it for changes that might break what I have. When I’m ready, I can test any new changes locally without having to interrupt my project with an unpredicted Bootstrap Less change.</div>
          </div>


          <div class="row">
            <div>
              <div class="col-md-12">------</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div>
    <!-- post-submit-form -->
    <form>


      <!-- post-title -->
      <div class="form">
        <label class="control-label" for="input">Post Title</label>
        <input type="text" ng-model="post.name" class="form-control">
      </div>


      <!-- post.body -->
      <div class="form">
        <label class="control-label" for="input">Post Title</label>
        <input type="text" ng-model="post.body" class="form-control">
      </div>


      <!-- post.url -->
      <div class="form">
        <label class="control-label" for="input">Post URL</label>
        <input type="text" ng-model="post.url" class="form-control">
      </div>


      <!-- submit button -->
      <div>
        <button ng-click="savePost(post)" class="btn btn-succuess btn-block">Save Post</button>
      </div>

    </form>
  </div>
