<div class="row">
    <div class="col-md-12"></div>
</div>

<!-- counter arrows increment  -->
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img class="post-image" src='/images/nap.jpg'>
            </div>

            <div class="col-md-8">
               <!-- right side -->
                <div class="row">
                    <div class="col-md-12" class="post-title">Title? | bootstap sucks balls</div>
                </div>

                <div class="row">
                    <div class="col-md-12" class="post-body">I’ve been using this same method for almost 2 years now. I like to clone the repository from GitHub, and then copy the files from the repository on my local computer to my project folder. This gives me a clean, decoupled set of the Less files that are now orphaned from the repository. I prefer this so I can keep the Bootstrap repository updated on my machine, without having to check it for changes that might break what I have. When I’m ready, I can test any new changes locally without having to interrupt my project with an unpredicted Bootstrap Less change.</div>
                </div>

                <div class="row">
                    <div>
                        <div class="col-md-12">------</div>
                    </div>
                </div>
            </div>
                <!-- ... -->
        </div>
    </div>
</div>

<div class="row" id="thebottomrow">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>

    <div>
        <form>

            <!-- post-title -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Post Title</label>
                <input type="text" ng-model="post.name" class="form-control">
            </div>

            <!-- post.description -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Post Title</label>
                <input type="text" ng-model="post.description" class="form-control">
            </div>

            <!-- post.url -->
            <div class="form-group">
                <label class="control-label" for="focusedInput">Post URL</label>
                <input type="text" ng-model="post.url" class="form-control">
            </div>


        </form>
    </div>
